<header class="page-header">
    <h1>Admin Dashboard</h1>
</header>

<div class="list-group">
  <div class="col-4">
    <a href="/admin/products" class="list-group-item list-group-item-action list-group-item-success">
      <strong>Product count:</strong>
      <%= @product_count %>
    </a>
  </div>
  <div class="col-4">
    <a href="/" class="list-group-item list-group-item-action list-group-item-success">
      <strong>Category count:</strong>
      <%= @category_count %>
    </a>
  </div>
</div